extends ../layouts/main.pug

block content
    div.boardTitle 
        h2.boaedTitle__head JavaScript
    div.boardSearch  
        input.boardSearch__search(type="text" placeholder="제목 검색...")
    div.boardContents   
        div.boardContents__rsWrapper
            //- BOARD-HEADER
            ul.boardHeader
                li.boardHeader__field 번호
                li.boardHeader__field 제목
                li.boardHeader__field 작성일
                li.boardHeader__field 조회수

        each data in dataResult
            ul.boardBody
                li.boardBody__field #{data.no}
                li.boardBody__field #{data.title}
                li.boardBody__field #{data.createAt}
                li.boardBody__field #{data.hit}